<div class = "goUser">
  
  <% if logged_in? %>
    
    <%= link_to "Log out", logout_path, method: :delete ,class: 'btn btn-outline-light' %>

  <% end %>

</div>i

 <div class = "goHome">

   <% if logged_in? %>
       <button type="button" class="btn btn-outline-light" onclick="location.href='/'">Home</button>
   <% end %>

 </div>
