// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

.header {
  width: 100%;
  background-color : #16102a;
  height : 90px;
  display: flex;
  justify-content: center;
  padding : 20px;
  border-bottom: solid 3px #FFFFFF;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.header-logo{
  font-size : 32px;
  color : #FFFFFF;
  background-color : #16102a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goUser{
  padding-left: 30px;

  //右寄せしたい
  display: flex;
  justify-content: center;
}


.title1{
  color : #FFFFFF;
  font-size : 150px;
  position : relative;
  top : 50px;
  padding-left : 7%;
  display: flex;
  //justify-content: center;
}


.title2{
  color : #FFFFFF;
  font-size : 150px;
  position : relative;
  padding-left : 7%;
  top : 50px;
  display: flex;
  //justify-content: center;
}

.subTitle{
  color : #FFFFFF;
  font-size : 40px;
  position : relative;
  padding-left : 7%;
  top : 50px;
  padding-bottom: 80px;
  display: flex;
  //justify-content: center;
}


.goSignup{
  position : relative;
  padding-left : 7%;
  top : 30px;
  //display: flex;
  //justify-content: center;

}


.main {
  width: 100%;
  background-color : #16102a;
  height :950px;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body{
  width:100%;
}

